//_variables
//_general
$primary_color: #263238;
$secondary_color: #455a64;
$max_width_general_container: 1200px;

//_header


//_main
$max_width_wrapper_main: 992px;


//_section_music
$number_of_inline_album: 4;
$space_between_albums: 20px;
$padding_album_box: 40px;
